<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cilxry.gamebook">

    <application
        android:label="游戏本子 (Debug)"
        tools:replace="android:label">
        <!-- 其他配置如果需要也可以在这里覆盖 -->
    </application>

</manifest>